weekly-follow-up-reminder-n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        0
      ],
      "id": "481657c9-bc90-4f14-9df8-90cc7a13ad79",
      "name": "Weekly trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "label:sent older_than:5d"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ef0e9705-2e6d-4002-8577-54c5ecfdc6cb",
      "name": "Fetch sent emails",
      "webhookId": "5e32745e-e710-48cd-a469-e0174898ca12",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sm1setVMmDhJWIbG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "456451d7-43c0-4fca-998a-7724ff7f261b",
      "name": "Loop emails"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        112
      ],
      "id": "03e55e81-af66-42fb-9eca-453d4f11432a",
      "name": "Get thread replies",
      "webhookId": "fbe64c73-66e0-42f8-a405-a63f47967da1",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sm1setVMmDhJWIbG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e80d39f-d153-4f59-8868-7f3376aa0244",
              "leftValue": "={{ $json.messages.length }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        112
      ],
      "id": "2a7095ec-49ac-4dd0-9bb3-d05e11e1dde6",
      "name": "No reply received?"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        176
      ],
      "id": "98f20b33-10a9-4ce4-844b-304e1331e4ae",
      "name": "Collect unanswered"
    },
    {
      "parameters": {
        "sendTo": "saarasofiapeltonen@gmail.com",
        "subject": "Weekly follow-up reminder",
        "message": "=<h3>Emails awaiting a reply</h3> <ul> {{ $json.data.map(e => `<li><b>${e.subject}</b> → ${e.to} <i>(${e.date})</i></li>`).join('\\n') }} </ul>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        176
      ],
      "id": "b6fb9983-d085-4d4f-a180-187a419e9932",
      "name": "Send reminder digest",
      "webhookId": "1ee5d50b-6a47-43c5-bb3a-39118b7dfb99",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sm1setVMmDhJWIbG",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly trigger": {
      "main": [
        [
          {
            "node": "Fetch sent emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch sent emails": {
      "main": [
        [
          {
            "node": "Loop emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop emails": {
      "main": [
        [],
        [
          {
            "node": "Get thread replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get thread replies": {
      "main": [
        [
          {
            "node": "No reply received?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No reply received?": {
      "main": [
        [
          {
            "node": "Loop emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect unanswered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect unanswered": {
      "main": [
        [
          {
            "node": "Send reminder digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "327c540a-c5a8-43cc-9ddb-088595190b71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "351b27691ecb46333d18801fb7ec34044824b6cb408d551872c64dec280af1ea"
  },
  "id": "SUHIefktiS4ThJdi",
  "tags": []
}